.drawer-container {
    min-width: 60px;
    max-width: 60px;
    overflow: hidden;
}

.profile-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.drawer-icon {
    padding-left: 5px;
}

.drawer-content {
    height: 100%;
}

.nav-link {
    white-space: nowrap;
    padding-left: 26px;
    padding-top: 2px;
    font-weight: 500;
    line-height: 30px;
}

.active-link {
    outline-style: solid;
    outline-width: thin;
    background-color: #e91e63 !important;
}

.toogle-container {
    padding: 0;
}

.fill-empty {
    flex: 1 auto;
}

.mat-list-base {
    padding-top: 0;
}
