.drawer-container {
    min-width: 60px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.drawer-icon {
    padding-left: 3px;
}

.drawer-content {
    height: 100%;
}

.nav-link {
    padding-left: 26px;
    padding-top: 2px;
    font-weight: 500;
    line-height: 30px;
}

.toogle-container {
    padding: 0;
}

.fill-empty {
    flex: 1 auto;
}

.mat-list-base {
    padding-top: 0;
}
