button {
    font-size: 14px;
    height: 43px;
    text-align: left;
    padding-left: 25px;
    display: block;
    width: 150px;

    mat-icon {
        margin-right: 10px;
        font-size: 25px;
        margin-bottom: 9px;
    }
}

.menu-list {
    margin-top: 20px;
}
