<span mat-dialog-title class="title-header">Evaluate skill</span>
<div mat-dialog-content>
    <form class="skill-form" #skillForm="ngForm">
        <div class="skill-body">
            <mat-form-field>
                <input type="text" matInput id="name" name="name" [value]="model.name" disabled />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput id="description" name="description" [value]="model.description" disabled />
            </mat-form-field>

            <mat-label class="title-header">Your Evaluation</mat-label>
            <gd-skill-score data-cy="score" id="score" name="score" [isMin]="isMobile$ | async"
                [(ngModel)]="model.score" required></gd-skill-score>
        </div>

        <div class="skill-form-actions" mat-dialog-actions>
            <button data-cy="skillCancel" mat-flat-button (click)="onCancel()">Cancel</button>
            <button data-cy="skillOk" type="submit" mat-flat-button color="primary" (click)="onSubmit()"
                [disabled]="skillForm.form.invalid">
                Ok
            </button>
        </div>
    </form>
</div>
