@import '~src/assets/styles/variables';

.mat-dialog-content {
    min-width: 230px;
    height: 260px;
}

.skill-form {
    display: flex;
    flex-direction: column;
}

.skill-body {
    flex-grow: 1;
}

.skill-form-actions {
    justify-content: flex-end;

    >button {
        margin-left: 10px;
    }
}
