<div *ngIf="profile && profileModel">
    <gd-viewer-container title="{{ profile.fullName }}">
        <ng-container>
            <gd-profile-form [model]="profileModel" [editable]="editableProfile" (valid)="onValidChange($event)">
            </gd-profile-form>
        </ng-container>

        <div class="skills-header">
            <span class="title-header">Skills</span>
            <mat-divider></mat-divider>
        </div>

        <gd-profile-skills [skills]="profile.skills" [editable]="editableSkills" (editSkill)="onEditSkill($event)"
            (newSkill)="onNewSkill()"></gd-profile-skills>

        <div class="profile-actions" data-cy="update">
            <button data-cy="submit" *ngIf="editableProfile" mat-flat-button color="primary" (click)="onSubmit()"
                [disabled]="!isValid">Update</button>
        </div>
    </gd-viewer-container>
</div>
