@import '~src/assets/styles/variables';

.search-table {
    max-height: 400px;
    width: 100%;
}

.skill-badge {
    display: inline;

    &:not(:first-child) {
        margin-left: 18px;
    }
}

.st-row:not(.st-row-disabled):hover {
    background: #e91e63;
    cursor: pointer;
}

.st-row-disabled {
    filter: grayscale(100%);
    opacity: 0.6;
}

@media only screen and (max-width: $sm) {
    .hide-sm {
        display: none;
    }
}

@media only screen and (max-width: $xs) {
    .hide-xs {
        display: none;
    }
}
