<div [@enter]>
    <table mat-table matSort [dataSource]="dataSource" class="search-table mat-elevation-z8">

        <!-- No Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let profile"> {{ profile.id }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let profile"> {{ profile.email }} </td>
        </ng-container>

        <!-- FullName Column -->
        <ng-container matColumnDef="fullName">
            <th class="hide-xs" mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
            <td class="hide-xs" mat-cell *matCellDef="let profile"> {{ profile.fullName }} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th class="hide-xs" mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td class="hide-xs" mat-cell *matCellDef="let profile"> {{ profile.city }} </td>
        </ng-container>

        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
            <th class="hide-sm" mat-header-cell *matHeaderCellDef> Skills </th>
            <td class="hide-sm" mat-cell *matCellDef="let profile">
                <div class="skill-badge" *ngFor="let skill of profile.skills">
                    <span matBadge="{{ skill.averageScore }}" matBadgeSize="small"
                        matBadgeOverlap="false">{{ skill.name }}</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr class="st-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onGoToProfile(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>