<table data-cy="searchTable" mat-table matSort [dataSource]="dataSource" class="search-table mat-elevation-z8">
	<!-- Profile Id Column -->
	<ng-container matColumnDef="id">
		<th data-cy="id" mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
		<td mat-cell *matCellDef="let profile">{{ profile.id }}</td>
	</ng-container>

	<!-- Email Column -->
	<ng-container matColumnDef="email">
		<th data-cy="email" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
		<td mat-cell *matCellDef="let profile">{{ profile.email }}</td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th data-cy="name" class="hide-xs" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
		<td class="hide-xs" mat-cell *matCellDef="let profile">{{ profile.name }}</td>
	</ng-container>

	<!-- Surname Column -->
	<ng-container matColumnDef="surname">
		<th data-cy="surname" class="hide-xs" mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
		<td class="hide-xs" mat-cell *matCellDef="let profile">{{ profile.surname }}</td>
	</ng-container>

	<!-- City Column -->
	<ng-container matColumnDef="city">
		<th data-cy="city" class="hide-xs" mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
		<td class="hide-xs" mat-cell *matCellDef="let profile">{{ profile.city }}</td>
	</ng-container>

	<!-- Skills Column -->
	<ng-container matColumnDef="skills">
		<th data-cy="skill" class="hide-sm" mat-header-cell *matHeaderCellDef>Skills</th>
		<td class="hide-sm" mat-cell *matCellDef="let profile">
			<div class="skill-badge" *ngFor="let skill of profile.skills">
				<span matBadge="{{ skill.averageScore }}" matBadgeSize="small" matBadgeOverlap="false">{{
					skill.name
				}}</span>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	<tr
		class="st-row"
		[class.st-row-disabled]="loading"
		mat-row
		*matRowDef="let row; columns: displayedColumns"
		(click)="!loading && onGoToProfile(row)"
	></tr>
</table>
