@import '~src/assets/styles/variables';

.topbar {
    display: flex;
    flex-direction: row;
}

.topbar-logo {
    flex: 0 auto;
    display: inline-flex;

    .topbar-icon {
        vertical-align: top;
        margin-right: 15px;
        font-size: 32px;
    }

    .topbar-title {
        font-size: 25px;
        font-weight: 600;
    }

    .topbar-nav {
        margin-top: 2px;
        cursor: pointer;
        outline: 0;
    }

    .drawer-trigger {
        width: 25px;
        min-width: unset;
        padding: 0;
    }
}

.welcome-message {
    cursor: pointer;
    display: inline;

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.topbar-actions {
    > div {
        display: inline;
    }

    flex: 0 auto;

    button {
        margin-left: 10px;
    }
}

.fill-empty {
    flex: 1 auto;
}

.github-link {
    mat-icon {
        margin-right: 3px;
    }
}

@media only screen and (max-width: $xs) {
    .welcome-message,
    .github-link {
        display: none;
    }
}
