<mat-toolbar color="primary" class="topbar">
    <div class="topbar-logo">
        <button mat-button class="drawer-trigger" (click)="drawerToggle.emit()" aria-label="toogle">
            <mat-icon>more_vert</mat-icon>
        </button>

        <div class="topbar-nav" routerLink="/">
            <mat-icon class="topbar-icon" aria-hidden="false" aria-label="Geek icon">recent_actors</mat-icon>
            <span class="topbar-title">{{ title }}</span>
        </div>
    </div>

    <div class="fill-empty"></div>

    <div class="topbar-actions">
        <gd-open-api-link class="open-api-link" [showText]="true"></gd-open-api-link>
        <gd-github-link class="github-link" iconName="github" iconUrl="github-circle-white.svg" [showText]="true">
        </gd-github-link>

        <button *ngIf="!isAuth" data-cy="signIn" mat-button mat-flat-button color="basic" (click)="openSignInDialog()">
            Sign In!
        </button>

        <div *ngIf="isAuth">
            <div data-cy="welcomeMessage" class="welcome-message" [routerLink]="profilePath">
                <span>Hello, {{ fullName }}</span>
            </div>
            <button data-cy="topMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button data-cy="myProfile" mat-menu-item [routerLink]="profilePath">
                    <mat-icon>account_box</mat-icon>
                    <span>Profile</span>
                </button>
                <button data-cy="signOut" mat-menu-item (click)="signOut.emit()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sign Out!</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
