<mat-toolbar color="primary" class="topbar">
    <div class="topbar-logo">
        <button mat-button class="drawer-trigger" (click)="drawerToggle.emit()">
            <mat-icon>more_vert</mat-icon>
        </button>

        <div class="topbar-nav" routerLink="/">
            <mat-icon class="topbar-icon" aria-hidden="false" aria-label="Geek icon">recent_actors</mat-icon>
            <span class="topbar-title">{{ title }}</span>
        </div>
    </div>

    <div class="fill-empty"></div>

    <div class="topbar-actions">
        <button *ngIf="!isAuth" mat-button mat-flat-button color="basic" [routerLink]="[]"
            [queryParams]="{ signIn: true }">
            Sign In!
        </button>


        <div *ngIf="isAuth">
            <div class="welcome-message" [routerLink]="profilePath">
                <span>Hello, {{ fullName }}</span>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="profilePath">
                    <mat-icon>account_box</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item (click)="signOut.emit()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sign Out!</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>