@import '~src/assets/styles/variables';

.notfound {
    left: 50%;
    line-height: 1.4;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfound .notfound-404 {
    height: 210px;
    margin-bottom: 20px;
    position: relative;
}

.notfound .notfound-404 h1 {
    color: #c2185b;
    font-size: 252px;
    font-weight: 800;
    left: 50%;
    letter-spacing: -40px;
    margin: 0px;
    margin-left: -20px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfound .notfound-404 h1 span {
    text-shadow: -6px 0px 1px white;
}

.notfound h3 {
    color: #c2185b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0px;
    padding-left: 6px;
    position: relative;
    text-transform: uppercase;
}

.notfound h2 {
    color: #c2185b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 0px;
    text-transform: uppercase;
}

@media only screen and (max-width: $sm) {
    .notfound .notfound-404 {
        height: 200px;
    }

    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: $xs) {
    .notfound .notfound-404 h1 {
        height: 150px;
        line-height: 162px;
    }

    .notfound h2 {
        font-size: 16px;
    }
}
