@import '~src/assets/styles/variables';

.mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 150px;
    min-width: 200px;
}

.sign-form-actions .end-actions {
    margin-left: auto;
}

@media only screen and (max-width: $xs) {
    .create-account {
        display: none;
    }
}
