<mat-card data-id="{{ profile.id }}" data-cy="profileCard" class="profile-card" [@enter] [@leave]>
    <mat-card-header class="card-header">
        <div mat-card-avatar class="geek-avatar">
            <mat-icon class="topbar-icon" aria-hidden="false" aria-label="Geek icon">android</mat-icon>
        </div>
        <mat-card-title>{{ profile.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ profile.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-subtitle>
        <mat-divider></mat-divider>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <div class="skill-badge" *ngFor="let skill of profile.skills">
            <span matBadge="{{ skill.averageScore }}" matBadgeSize="small" matBadgeOverlap="false">{{
                skill.name
            }}</span>
        </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
        <button data-cy="openProfile" mat-button [routerLink]="['/profiles', profile.id]">Open</button>
    </mat-card-actions>
</mat-card>
