.profile-card {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.card-header {
    .geek-avatar > mat-icon {
        font-size: 42px;
    }
}

.card-content {
    flex-grow: 1;
    margin-bottom: 0;
    .mat-button {
        text-transform: uppercase;
    }
}

.card-actions {
    align-self: flex-end;
    text-align: right;
}

.card-content > div {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 22px;
}
