mat-form-field {
    margin-bottom: 3px;
    width: 100%;
}

.title-header {
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 30px;
    text-shadow: 2px 2px #616161;
    text-transform: uppercase;
}
