mat-form-field {
    width: 100%;
    margin-bottom: 3px;
}

.title-header {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 1px;
    text-shadow: 2px 2px #616161;
}
