$minWidth: 400px;

.success-snackbar {
    background: #00c853;
    min-width: $minWidth !important;
    span {
        color: #000;
    }
}

.error-snackbar {
    background: #d50000;
    min-width: $minWidth !important;
    span {
        color: #fff;
    }
}

.warning-snackbar {
    background: #ff0;
    min-width: $minWidth !important;
    span {
        color: #000;
    }
}
