@import '~src/assets/styles/variables';

.profiles-bottom-list {
    margin: 15px 0 5px 0;
    min-height: 60px;
}

.loading-bar {
    mat-spinner {
        left: calc(50% - 25px);
    }
}

.end-of-world {
    height: 70px;
    text-align: center;

    span {
        display: block;
    }
}

@media only screen and (max-width: $xs) {
    .profile-list {
        margin-left: 0;
    }

    .profile-container {
        width: 280px;
    }

    .end-of-world {
        font-size: 12px;
    }
}

@media only screen and (min-width: $xs) {
    .profile-container {
        min-height: 205px;
    }
}

@media only screen and (min-width: $lg) {
    .profile-list {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: $xl) {
    .profile-list {
        margin-left: 15%;
        margin-right: 15%;
    }
}
