<div *ngIf="profiles.length">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" gdGap="25px"
        gdColumns.gt-xs="repeat(auto-fill, minmax(280px, 1fr))" class="profile-list">
        <gd-profile-card *ngFor="let profile of profiles" [profile]="profile"></gd-profile-card>
    </div>
    <div class="profiles-bottom-list">
        <div class="loading-bar" *ngIf="laoding$ | async">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <div class="end-of-world" *ngIf="isLoadedAll()">
            <span class="title-header">You have reached the world's edge,</span>
            <span class="title-header">none but devils play past here...</span>
        </div>
    </div>
</div>