<gd-topbar
    title="Geeks Directory"
    [fullName]="fullName"
    [profilePath]="personalProfilePath"
    [isAuth]="isAuth$ | async"
    (drawerToggle)="drawer.toggle()"
    (signOut)="onSignOut()"
>
</gd-topbar>

<mat-drawer-container class="drawer-container" #drawerContainer>
    <mat-drawer [mode]="isMobile ? 'over' : 'side'" [opened]="drawerIsOpened" #drawer position="start">
        <gd-left-bar
            [isAuth]="isAuth$ | async"
            [navLinks]="(isAuth$ | async) ? navAuthLinks : navLinks"
            [profileName]="fullName"
            [profilePath]="personalProfilePath"
            (changeMode)="drawerContainer.updateContentMargins()"
            (linkEnter)="isMobile ? drawer.toggle() : null"
        >
        </gd-left-bar>
    </mat-drawer>

    <mat-drawer-content (scroll)="onScroll($event)">
        <div class="drawer-content">
            <ng-content></ng-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
