@import '~src/assets/styles/variables';

.drawer-trigger {
    min-width: 0;
    width: 25px;
    margin: 0 10px 0 0;
    padding: 0;
}

.drawer-container {
    position: fixed;
    top: 64px;
    bottom: 0;
    width: 100%;
}

.mat-drawer-content {
    min-width: 350px;
}

.drawer-content {
    margin: 15px 15px 15px 15px;
}

.mat-drawer {
    box-shadow: 0px 2px 1px -1px rgba(252, 228, 236, 0.2), 0px 1px 1px 0px rgba(252, 228, 236, 0.14),
        0px 1px 3px 0px rgba(252, 228, 236, 0.12);
}

@media only screen and (max-width: $xs) {
    .drawer-container {
        top: 56px;
    }
}
