<gd-topbar title="Geeks Directory" [fullName]="fullName" [isAuth]="isAuth$ | async" (drawerToggle)="drawer.toggle()"
    (signOut)="onSignOut()" (goToProfile)="onGoToProfile()">
</gd-topbar>

<mat-drawer-container class="drawer-container" #drawerContainer>
    <mat-drawer [opened]="drawerIsOpened" #drawer position="start" mode="side">
        <gd-left-bar [isAuth]="isAuth$ | async" [navLinks]="navLinks" [profileName]="fullName"
            (changedMode)="drawerContainer.updateContentMargins()" (goToProfile)="onGoToProfile()"></gd-left-bar>
    </mat-drawer>

    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>