.mat-dialog-content {
    height: 312px;
}

.skill-form {
    display: flex;
    flex-direction: column;
    height: 288px;
}

.skill-body {
    flex-grow: 1;
}

.skill-body > mat-form-field {
    width: 100%;
}

.skill-form-actions {
    justify-content: flex-end;

    > button {
        margin-left: 10px;
    }
}

.score {
    margin-top: 10px;
}
