.drawer-trigger {
    min-width: 0;
    width: 25px;
    margin: 0 10px 0 0;
    padding: 0;
}

.drawer-container {
    position: fixed;
    top: 66px;
    bottom: 0;
    width: 100%;
}

.mat-drawer button {
    display: block;
    width: 200px;
}

.mat-drawer {
    box-shadow: 1px 0 10px #e91e63;
}

.menu-list {
    margin-top: 20px;
}

@media only screen and (max-width: 640px) {
    .drawer-container {
        top: 56px;
    }
}
