<ng-progress id="progress"></ng-progress>

<gd-topbar title="Geeks Directory" [isAuth]="isAuth" (drawerToggle)="drawer.toggle()" (signOut)="onSignOut()"> </gd-topbar>

<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer position="start" mode="side">
        <div class="menu-list">
            <mat-divider></mat-divider>
            <button mat-button mat-flat-button color="basic" routerLink="/">Home</button>
            <button *ngIf="!isAuth" mat-button mat-flat-button color="basic" [routerLink]="[]" [queryParams]="{ signIn: true }">Sign In</button>
            <button *ngIf="isAuth" mat-button mat-flat-button color="basic" (click)="onSignOut()">Sign Out</button>
            <button *ngIf="!isAuth" mat-button mat-flat-button color="basic" [routerLink]="['./register']">Register</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
