.topbar-icon {
    float: left;
    margin-right: 15px;
    font-size: 32px;
}

.topbar-title {
    font-size: 25px;
    font-weight: 600;
}

.topbar-nav {
    cursor: pointer;
    outline: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.topbar {
    margin-bottom: 20px;
}
