<mat-toolbar color="primary" class="topbar">
    <button mat-button class="drawer-trigger" (click)="drawerToggle.emit()">
        <mat-icon>more_vert</mat-icon>
    </button>

    <div class="topbar-nav" routerLink="/">
        <mat-icon class="topbar-icon" aria-hidden="false" aria-label="Geek icon">recent_actors</mat-icon>
        <span class="topbar-title">{{ title }}</span>
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <button *ngIf="!isAuth" mat-button mat-flat-button color="basic" [routerLink]="[]" [queryParams]="{ signIn: true }">
        Sign In!
    </button>
    <button *ngIf="isAuth" mat-button mat-flat-button color="basic" (click)="signOut.emit()">
        Sign Out!
    </button>
</mat-toolbar>