<div fxLayout="row wrap" fxLayoutAlign="center center">
    <gd-viewer-container title="Profile registration" class="reg-container">
        <form class="reg-form" form #regForm="ngForm">

            <mat-form-field>
                <input type="name" matInput placeholder="Name" [(ngModel)]="model.name" #name="ngModel" id="name"
                    name="name" required />
                <mat-error *ngIf="!name.valid && !name.pristine && name.errors['required']">Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="surname" matInput placeholder="Surname" [(ngModel)]="model.surname" #surname="ngModel"
                    id="surname" name="surname" required />
                <mat-error *ngIf="!surname.valid && !surname.pristine && surname.errors['required']">Surname is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="middleName" matInput placeholder="Middle name" [(ngModel)]="model.middleName"
                    #middleName="ngModel" id="middleName" name="middleName" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Cities" aria-label="City" matInput [matAutocomplete]="auto"
                    (keyup)="onKeyUpCity($event.value)" [(ngModel)]="model.city" #city name="city" id="city" required />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="!city.valid && !city.pristine">City is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="email" matInput placeholder="Email" [(ngModel)]="model.email" #email="ngModel" id="email"
                    name="email" email required />
                <mat-error *ngIf="!email.valid && !email.pristine && email.errors['required']">Email is required
                </mat-error>
                <mat-error *ngIf="!email.valid && !email.pristine && email.errors['email']">Email is invalid
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="model.password" #password="ngModel" id="password" name="password" minlength="6"
                    required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="!password.valid && !password.pristine && password.errors['required']">Password
                    is required
                </mat-error>
                <mat-error *ngIf="!password.valid && !password.pristine && password.errors['minlength']">
                    Password must be of
                    minimum 6 characters length
                </mat-error>
            </mat-form-field>

            <div class="reg-actions">
                <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!regForm.form.valid">
                    Register
                </button>
            </div>
        </form>
    </gd-viewer-container>
</div>