.viewer {
    font-weight: 400;
    padding: 20px 50px 50px 20px;
}

.viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
}

.viewer-container {
    height: 40px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
    background-color: rgba(255, 255, 255, 0.03);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
}

.viewer-title {
    flex: 1 1 auto;
    color: white;
    text-transform: uppercase;
}

.viewer-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
