<div class="search-container">
    <mat-form-field class="search-bar animated fadeInUp" [@enter]>
        <input
            matInput
            (keyup)="onKeyUpQuery($event.target.value, $event.code)"
            (keyup.enter)="onChangeQuery(queryValue)"
            placeholder="Search..."
            [value]="queryValue"
        />
        <button class="search-icon" mat-icon-button matSuffix (click)="onChangeQuery(queryValue)">
            <mat-icon matSuffix>search</mat-icon>
        </button>
    </mat-form-field>

    <gd-search-table
        [loading]="loading$ | async"
        [pageSize]="originLimit"
        [profiles]="profiles$ | async"
        (goToProfile)="onGoToProfile($event)"
        (changePageIndex)="onChangePage($event)"
        (changeOrder)="onChangeOrder($event)"
    >
    </gd-search-table>
</div>
