<div class="search-container" [@enter]>
	<mat-form-field class="search-bar animated fadeInUp">
		<input
			matInput
			(keyup)="$event.code !== 'Enter' && onKeyUpFilter($event.target.value)"
			(keyup.enter)="onChangeFilter(filterValue)"
			data-cy="search"
			placeholder="Search..."
			[value]="filterValue"
		/>
		<button
			class="search-icon"
			data-cy="submit"
			mat-icon-button
			matSuffix
			(click)="onChangeFilter(filterValue)"
			aria-label="search"
		>
			<mat-icon matSuffix>search</mat-icon>
		</button>
	</mat-form-field>

	<gd-search-table
		[loading]="loading$ | async"
		[profiles]="(profiles$ | async).profiles"
		(goToProfile)="onGoToProfile($event)"
		(changeOrder)="onChangeOrder($event)"
	>
	</gd-search-table>

	<mat-paginator
		[length]="(profiles$ | async).pagination.total"
		[pageSizeOptions]="[10, 20, 30]"
		showFirstLastButtons
	>
	</mat-paginator>
</div>
